* {
  font-family: Ubuntu;
  color: $brand-primary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: $brand-primary;
  margin-top: 0;
  // &.section{
  //   padding-top: 150px;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.title {
  }
}

h2 {
  &.title {
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
h3 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 37px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
li {
  margin: 0;
  display: inline-block;
}
p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

&__body {
  main {
    ul,p {
      margin-bottom: 16px;
    }
  }
}
