$brand-primary: #10137e;
$brand-secondary: #69b731;
$brand-white: #ffffff;

$brand-gray-lightest: #f5f5f5;
$brand-gray-light: #c2c2c2;
$brand-gray-dark: #808080;

$brand-box-shadow: 0 3px 0 0 rgba($brand-primary, 0.16);

$brand-text-shadow-text-white: 0 0 10px #ffffff;
