.tabs{
    display: flex;    
    position: relative;
    margin-bottom: 16px;
    &:after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: $brand-primary;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__item{        
        border: 1px solid $brand-primary;
        border-left: none;
        border-bottom: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $brand-white;
        position: relative;
        &:first-child{
            border-left: 1px solid $brand-primary;
        }
        &--active{
z-index: 10;
            .tabs{
                &__link{
                    font-weight: 700;
                }
            }
        }
    }
    &__link{
        font-size: 20px;
        line-height: 24px;
        padding: 8px 16px;
        display: inline-block;
    }
}